<footer class="footer">

<div class="footer-container">

<div class="footer-section">
<h3>Medicare</h3>
<p>
Medicare is a healthcare platform that helps patients find doctors
and book appointments easily.
</p>
</div>

<div class="footer-section">
<h3>Quick Links</h3>
<ul>
<li><a href="{% url 'home' %}">Home</a></li>
<li><a href="{% url 'doctors' %}">Doctors</a></li>
 <a href="{% url 'doctors' %}">Book Appointment</a>
<li><a href="{% url 'wellbeing' %}">Wellbeing</a></li>
</ul>
</div>

<div class="footer-section">
<h3>Contact</h3>
<p>Email: support@medicare.com</p>
<p>Phone: +123 456 789</p>
<p>Location: Healthcare City</p>
</div>

</div>

<div class="footer-bottom">
<p>© 2026 Medicare Healthcare System. All Rights Reserved.</p>
</div>

</footer>