{% extends "base.html" %}

{% block content %}

<h2>{{ doctor.name }}</h2>

{% if doctor.photo %}
<img src="{{ doctor.photo.url }}" width="200">
{% endif %}

<p><strong>Department:</strong> {{ doctor.department }}</p>
<p><strong>Qualification:</strong> {{ doctor.qualification }}</p>
<p><strong>Experience:</strong> {{ doctor.experience }} years</p>
<p><strong>Hospital:</strong> {{ doctor.hospital }}</p>
<p><strong>Available Days:</strong> {{ doctor.available_days }}</p>

  <a href="{% url 'book_appointment' doctor.id %}" class="btn">
    Book Appointment
</a>
{% endblock %}