{% extends "base.html" %}

{% block content %}

<div class="card">

<h2>My Appointments</h2>

{% if appointments %}

<table class="appointment-table">

<tr>
<th>Doctor</th>
<th>Date</th>
<th>Time</th>
<th>Status</th>
<th>Action</th>
</tr>

{% for appointment in appointments %}

<tr>

<td>{{ appointment.doctor.name }}</td>
<td>{{ appointment.appointment_date }}</td>
<td>{{ appointment.appointment_time }}</td>

<td>
<span class="status {{ appointment.status }}">
{{ appointment.status }}
</span>
</td>

<td>

{% if appointment.status != "Cancelled" %}
<a href="{% url 'cancel_appointment' appointment.id %}" class="cancel-btn">
Cancel
</a>
{% else %}
-
{% endif %}

</td>

</tr>

{% endfor %}

</table>

{% else %}

<p>No appointments yet.</p>

{% endif %}

</div>

{% endblock %}