{% load static %}

<nav class="navbar">

<div class="nav-container">

<div class="logo">
<img src="{% static 'images/logo.png' %}" alt="logo">
</div>
  <form class="search-form" method="GET" >

<input
class="search-bar"
type="text"
id="search-input"
placeholder="Search doctors..."
autocomplete="off">

<div id="search-results" class="search-results"></div>

</form>

<div class="nav-icons">

<button class="icon-btn">⚙</button>

{% if user.is_authenticated %}

<span>Hi {{ user.username }}</span>
<a href="{% url 'logout' %}" class="login-btn">Logout</a>

{% else %}

<a href="{% url 'login' %}" class="login-btn">Login</a>
<a href="{% url 'register' %}" class="login-btn">Register</a>

{% endif %}
</div>

</div>


<div class="nav-buttons">

<a href="{% url 'home' %}">Home</a>

<a href="{% url 'doctors' %}">Doctors</a>

<a href="{% url 'doctors' %}">Book Appointment</a>

<a href="{% url 'my_appointments' %}">My Appointments</a>

<a href="{% url 'wellbeing' %}">Well-Being</a>

</div>

</nav>